<div id="info-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4 id="info-name" class="red-text text-lighten-2"></h4>
        <div id="proc-info">
            <p id="proc-details"></p>
        </div>
        <div id="med-info">
            <p><span id="med-dose"></span> - <span id="med-route"></span></p>
        </div>
        <p id="count"></p>
        <table>
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody id="info-table-body">
            </tbody>
        </table>
    </div>
</div>