@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

html, body {
    height: 100%;
}

html, div {
    font-family: 'Raleway', sans-serif;
}

#title-div {
    background-color: rgb(223, 61, 61);
    padding: .5em;
    color: #fff;
}

#start-btn-div {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#start-btn {
    height: 80px;
}

#start-btn-div, #code-btn-div, #code-timer-div, #shock-btn-div, #cpr-btn-div, #med-btn-div, #shock-timer-div, #cpr-timer-div, #proc-btn-div  {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
}

#shock-container, #code-container, #cpr-container {
    margin: 0;
    padding: 0;
}

#shock-btn-small, #shock-timer, #shock-count, #cpr-btn-small, #cpr-timer, #cpr-count {
    margin: 0;
    padding: 0;
}

#shock-timer, #shock-count, #cpr-timer, #cpr-count {
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
    border-right: 1px solid rgb(190, 190, 190);
}

#code-timer, #shock-timer, #cpr-timer {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    color: rgb(126, 126, 126);
}

#title, #code-btn-div, #code-timer-div, #shock-btn, #shock-timer-div, #cpr-btn, #cpr-timer-div, #med-btn, #med-timer-div, #proc-btn {
    display: none;
}

#shock-btn:hover {
    color:#fff;
}

#shock-btn-container, #cpr-btn-container, #med-btn-container {
    padding-bottom: 0.6em;
}

#shock-badge, #cpr-badge {
    font-size: 24px;
    color:rgb(126, 126, 126);
    font-family: 'Roboto Slab', serif;
}




.pulse {
    animation: pulse 0.8s infinite;
}
  
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(223, 61, 61, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(223, 61, 61, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(223, 61, 61, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(223, 61, 61, 0.4);
        box-shadow: 0 0 0 0 rgba(223, 61, 61, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(223, 61, 61, 0);
        box-shadow: 0 0 0 10px rgba(223, 61, 61, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(223, 61, 61, 0);
        box-shadow: 0 0 0 0 rgba(223, 61, 61, 0);
    }
}

.pulse-warn {
    animation: pulse-warn 1s infinite;
}
  
@-webkit-keyframes pulse-warn {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(238, 211, 58, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(238, 211, 58, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(238, 211, 58, 0);
    }
}
@keyframes pulse-warn {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(238, 211, 58, 0.4);
        box-shadow: 0 0 0 0 rgba(238, 211, 58, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(238, 211, 58, 0);
        box-shadow: 0 0 0 10px rgba(238, 211, 58, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(238, 211, 58, 0);
        box-shadow: 0 0 0 0 rgba(238, 211, 58, 0);
    }
}


.pulse-danger {
    animation: pulse-danger 0.5s infinite;
}
  
@-webkit-keyframes pulse-danger {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(223, 61, 61, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(223, 61, 61, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(223, 61, 61, 0);
    }
}
@keyframes pulse-danger {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(223, 61, 61, 0.4);
        box-shadow: 0 0 0 0 rgba(223, 61, 61, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(223, 61, 61, 0);
        box-shadow: 0 0 0 10px rgba(223, 61, 61, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(223, 61, 61, 0);
        box-shadow: 0 0 0 0 rgba(223, 61, 61, 0);
    }
}
